<footer class="footer text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Whisky</a></li>
                    <li><a href="#">Whisky Investment</a></li>
                    <li><a href="#">Whisky Tastings</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Scotch Whisky Regions</h5>
                <ul class="list-unstyled">
                    <li><a href="/landen/schotland/campbeltown/">Campbeltown</a></li>
                    <li><a href="/landen/schotland/highlands/">Highlands</a></li>
                    <li><a href="/landen/schotland/islay/">Islay</a></li>
                    <li><a href="/landen/schotland/lowlands/">Lowlands</a></li>
                    <li><a href="/landen/schotland/speyside/">Speyside</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <!--h5>Connect</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                </ul-->
                <h5>Nieuwsbrief</h5>
                <form action="https://fabform.io/f/OMasE7K" method="post">
                    <div class="form-group">
                      <input name="email" type="email" required placeholder="email@domein.nl">
                    </div>
                    <button type="submit" class="btn btn-primary">Aanmelden</button>
                </form>
            </div>
        </div>
    </div>
</footer>
  